#app{
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #7e818b;
    margin-top: 60px;
}

.joke-card{
    border: 2px solid #7e818b;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}